/* Estilos gerais */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background-color: #f5f5f5;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #fcc95b;
    text-align: center;
    padding: 20px;
  }
  
  header img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos do conteúdo */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #valor-total div {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    text-align: justify;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: yellow;
    padding: 20px;
  }
  
  footer p {
    text-align: center;
    margin: 0;
  }
  
  footer span {
    font-weight: bold;
  }
  
  #resultado {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .valores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }